@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

main {
    margin: 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

main > * {
    margin: 16px 0;
}

h1 {
    text-align: center;
}

.btn-common {
    font-size: 16px;     
    text-align: center;
}

.button_container {
    display: flex;
    flex-direction: column; 
    row-gap: 16px;
}


* {
    animation: fadeIn ease 400ms;
}
    
#iosText {
    display: none;
    position: absolute;
    bottom: 50px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
}

header {
    margin: 3vh;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5vh;
}