<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settings</key>
	<dict>
		<key>appAppearance</key>
		<string>system</string>
		<key>appUpdatesCheckFrequency</key>
		<string>off</string>
		<key>appUpdatesIncludeAppStore</key>
		<true/>
		<key>appUpdatesNotify</key>
		<true/>
		<key>appVolumes</key>
		<dict/>
		<key>autoCheckUpdates</key>
		<true/>
		<key>autoQuitEnabled</key>
		<true/>
		<key>autoQuitExceptions</key>
		<array>
			<string>com.apple.finder</string>
		</array>
		<key>batteryLimitPercent</key>
		<integer>10</integer>
		<key>brightnessControlEnabled</key>
		<false/>
		<key>brightnessKeysEnabled</key>
		<false/>
		<key>brightnessOSDEnabled</key>
		<false/>
		<key>cameraPreviewShortcut</key>
		<string>control+option+command:13</string>
		<key>cameraPreviewShortcutEnabled</key>
		<false/>
		<key>clamshellPreferred</key>
		<false/>
		<key>cleanerScheduleFrequency</key>
		<string>off</string>
		<key>cleanerScheduleHour</key>
		<integer>9</integer>
		<key>cleanerScheduleMinute</key>
		<integer>0</integer>
		<key>cleanerScheduleNotify</key>
		<true/>
		<key>cleanerScheduleWeekday</key>
		<integer>2</integer>
		<key>clipboardHistoryEnabled</key>
		<false/>
		<key>clipboardHistoryIgnoredApps</key>
		<array/>
		<key>clipboardHistoryIncludeImagesFiles</key>
		<true/>
		<key>clipboardHistoryLimit</key>
		<integer>50</integer>
		<key>clipboardHistoryShortcut</key>
		<string>control+option+command:9</string>
		<key>clipboardHistoryShortcutEnabled</key>
		<true/>
		<key>clipboardHistorySkipSensitive</key>
		<true/>
		<key>colorPickerBareHex</key>
		<false/>
		<key>colorPickerFormat</key>
		<string>hex</string>
		<key>colorPickerShortcut</key>
		<string>option+shift:8</string>
		<key>colorPickerShortcutEnabled</key>
		<true/>
		<key>commandBarAliases</key>
		<string></string>
		<key>commandBarDisabledSources</key>
		<string></string>
		<key>commandBarHidden</key>
		<string></string>
		<key>commandBarPins</key>
		<string></string>
		<key>commandBarShortcut</key>
		<string>option:49</string>
		<key>commandBarShortcutEnabled</key>
		<false/>
		<key>defaultDurationMinutes</key>
		<integer>0</integer>
		<key>dockClickCycleWindows</key>
		<true/>
		<key>dockClickHide</key>
		<false/>
		<key>dockClickMinimize</key>
		<true/>
		<key>dockPreviewBackgroundOpacity</key>
		<real>1</real>
		<key>dockPreviewEnabled</key>
		<true/>
		<key>extraBrightnessEnabled</key>
		<false/>
		<key>extraBrightnessLevel</key>
		<integer>100</integer>
		<key>featureAvailable.appUpdates</key>
		<true/>
		<key>featureAvailable.autoQuit</key>
		<true/>
		<key>featureAvailable.brightness</key>
		<false/>
		<key>featureAvailable.cameraPreview</key>
		<false/>
		<key>featureAvailable.cleaner</key>
		<true/>
		<key>featureAvailable.cleaningMode</key>
		<false/>
		<key>featureAvailable.clipboardHistory</key>
		<false/>
		<key>featureAvailable.colorPicker</key>
		<true/>
		<key>featureAvailable.commandBar</key>
		<false/>
		<key>featureAvailable.diskImageInstaller</key>
		<false/>
		<key>featureAvailable.dockClick</key>
		<false/>
		<key>featureAvailable.dockPreview</key>
		<false/>
		<key>featureAvailable.extraBrightness</key>
		<false/>
		<key>featureAvailable.fanControl</key>
		<false/>
		<key>featureAvailable.finderCutPaste</key>
		<false/>
		<key>featureAvailable.finderRename</key>
		<false/>
		<key>featureAvailable.homebrew</key>
		<true/>
		<key>featureAvailable.keepAwake</key>
		<true/>
		<key>featureAvailable.keyboardDebounce</key>
		<false/>
		<key>featureAvailable.mediaTools</key>
		<false/>
		<key>featureAvailable.micMute</key>
		<false/>
		<key>featureAvailable.middleClick</key>
		<false/>
		<key>featureAvailable.mixer</key>
		<false/>
		<key>featureAvailable.monitorCPU</key>
		<false/>
		<key>featureAvailable.monitorDisk</key>
		<false/>
		<key>featureAvailable.monitorGPU</key>
		<false/>
		<key>featureAvailable.monitorMemory</key>
		<false/>
		<key>featureAvailable.monitorNetwork</key>
		<false/>
		<key>featureAvailable.monitorPower</key>
		<false/>
		<key>featureAvailable.mouseButtonShortcuts</key>
		<false/>
		<key>featureAvailable.mouseNavigation</key>
		<false/>
		<key>featureAvailable.musicBlock</key>
		<false/>
		<key>featureAvailable.pastePlain</key>
		<false/>
		<key>featureAvailable.quickLauncher</key>
		<false/>
		<key>featureAvailable.quickToggles</key>
		<false/>
		<key>featureAvailable.radialMenu</key>
		<false/>
		<key>featureAvailable.scratchpad</key>
		<false/>
		<key>featureAvailable.screenOCR</key>
		<true/>
		<key>featureAvailable.screenRecorder</key>
		<false/>
		<key>featureAvailable.screenshot</key>
		<false/>
		<key>featureAvailable.scrollInverter</key>
		<true/>
		<key>featureAvailable.shelf</key>
		<false/>
		<key>featureAvailable.smoothScroll</key>
		<false/>
		<key>featureAvailable.soundOutputSwitcher</key>
		<false/>
		<key>featureAvailable.superKey</key>
		<false/>
		<key>featureAvailable.switcher</key>
		<true/>
		<key>featureAvailable.textSnippets</key>
		<false/>
		<key>featureAvailable.uninstaller</key>
		<true/>
		<key>featureAvailable.urlCleaner</key>
		<false/>
		<key>featureAvailable.windowLayout</key>
		<false/>
		<key>featureAvailable.windowMaximizer</key>
		<false/>
		<key>featuresOnboardingVersion</key>
		<integer>4</integer>
		<key>finderPasteImageAsFile</key>
		<false/>
		<key>finderRenameEnabled</key>
		<false/>
		<key>finderRenameShortcut</key>
		<string>:120</string>
		<key>hasOnboarded</key>
		<true/>
		<key>hotkeyEnabled</key>
		<false/>
		<key>keepAwakeActiveIcon</key>
		<string>vorssaint</string>
		<key>keepAwakeAllowDisplaySleep</key>
		<false/>
		<key>keepAwakeAutoStart</key>
		<false/>
		<key>keepAwakeConnectedToPower</key>
		<false/>
		<key>keepAwakeExternalDisplay</key>
		<false/>
		<key>keepAwakeIconTint</key>
		<string>orange</string>
		<key>keepAwakeMouseJiggleEnabled</key>
		<false/>
		<key>keepAwakeMouseJiggleIntervalMinutes</key>
		<integer>5</integer>
		<key>keepAwakeRightClickToggle</key>
		<false/>
		<key>keepAwakeShortcut</key>
		<string>control+option+command:40</string>
		<key>keyboardDebounceEnabled</key>
		<false/>
		<key>keyboardDebounceKeyWindows</key>
		<string></string>
		<key>keyboardDebounceWindowMs</key>
		<integer>5</integer>
		<key>lastUpdateIntroVersion</key>
		<string>3.3.1</string>
		<key>launchAtLoginWanted</key>
		<false/>
		<key>mediaGIFEnd</key>
		<real>0.0</real>
		<key>mediaGIFFPS</key>
		<real>12</real>
		<key>mediaGIFLoops</key>
		<true/>
		<key>mediaGIFQuality</key>
		<real>0.73999999999999999</real>
		<key>mediaGIFStart</key>
		<real>0.0</real>
		<key>mediaGIFWidth</key>
		<integer>720</integer>
		<key>mediaImageFormat</key>
		<string>jpeg</string>
		<key>mediaImageMaxDimension</key>
		<integer>1600</integer>
		<key>mediaImageQuality</key>
		<real>0.71999999999999997</real>
		<key>mediaImageStripMetadata</key>
		<true/>
		<key>mediaLastTool</key>
		<string>videoCompressor</string>
		<key>mediaTextAccurate</key>
		<true/>
		<key>mediaTextLanguageCorrection</key>
		<true/>
		<key>mediaVideoCodec</key>
		<string>h264</string>
		<key>mediaVideoEnd</key>
		<real>0.0</real>
		<key>mediaVideoFPS</key>
		<real>30</real>
		<key>mediaVideoKeepAudio</key>
		<true/>
		<key>mediaVideoMaxDimension</key>
		<integer>1280</integer>
		<key>mediaVideoQuality</key>
		<real>0.68000000000000005</real>
		<key>mediaVideoStart</key>
		<real>0.0</real>
		<key>menuBarBattery</key>
		<false/>
		<key>menuBarBatteryTemperature</key>
		<false/>
		<key>menuBarBatteryTime</key>
		<false/>
		<key>menuBarCPU</key>
		<true/>
		<key>menuBarCPUTemperature</key>
		<false/>
		<key>menuBarCombineTemperatures</key>
		<true/>
		<key>menuBarDiskActivity</key>
		<false/>
		<key>menuBarDiskUsage</key>
		<true/>
		<key>menuBarFanSpeed</key>
		<false/>
		<key>menuBarGPU</key>
		<true/>
		<key>menuBarGPUTemperature</key>
		<true/>
		<key>menuBarHideIconWithMetrics</key>
		<true/>
		<key>menuBarLabelStyle</key>
		<string>compact</string>
		<key>menuBarMemory</key>
		<true/>
		<key>menuBarMemoryStyle</key>
		<string>percent</string>
		<key>menuBarMetricAppearance</key>
		<string>values</string>
		<key>menuBarMetricOrder</key>
		<string>cpu,cpuTemperature,gpu,gpuTemperature,memory,battery,batteryTime,batteryTemperature,peripheralBattery,network,diskUsage,diskActivity,power,fanSpeed</string>
		<key>menuBarMetricSpacing</key>
		<string>standard</string>
		<key>menuBarNetwork</key>
		<false/>
		<key>menuBarNetworkUploadFirst</key>
		<false/>
		<key>menuBarPeripheralBattery</key>
		<false/>
		<key>menuBarPower</key>
		<false/>
		<key>menuBarPreset</key>
		<string>dense</string>
		<key>menuBarSeparateMetrics</key>
		<false/>
		<key>menuBarUsageBarCriticalColor</key>
		<string>#FF453A</string>
		<key>menuBarUsageBarElevatedColor</key>
		<string>#FFD60A</string>
		<key>menuBarUsageBarHighThreshold</key>
		<integer>90</integer>
		<key>menuBarUsageBarMediumThreshold</key>
		<integer>70</integer>
		<key>menuBarUsageBarNormalColor</key>
		<string>#64D2FF</string>
		<key>micMuteMenuBarIndicator</key>
		<true/>
		<key>micMuteShortcut</key>
		<string>control+option+command:46</string>
		<key>micMuteShortcutEnabled</key>
		<false/>
		<key>middleClickEnabled</key>
		<false/>
		<key>middleClickExceptions</key>
		<array/>
		<key>middleClickTapFingers</key>
		<integer>0</integer>
		<key>mixerHeadphonesDisconnectVolumePercent</key>
		<integer>25</integer>
		<key>mixerLowerVolumeOnHeadphonesDisconnect</key>
		<false/>
		<key>mixerShowFinder</key>
		<true/>
		<key>monitorAlertBattery</key>
		<false/>
		<key>monitorAlertBatteryPercent</key>
		<integer>15</integer>
		<key>monitorAlertCPU</key>
		<false/>
		<key>monitorAlertCPUTemperature</key>
		<false/>
		<key>monitorAlertCPUTemperatureThreshold</key>
		<integer>90</integer>
		<key>monitorAlertCPUThreshold</key>
		<integer>90</integer>
		<key>monitorAlertCooldownMinutes</key>
		<integer>15</integer>
		<key>monitorAlertDisk</key>
		<false/>
		<key>monitorAlertDiskFreePercent</key>
		<integer>10</integer>
		<key>monitorAlertMemory</key>
		<false/>
		<key>monitorDiskActivity</key>
		<true/>
		<key>monitorDiskProtection</key>
		<true/>
		<key>monitorDiskSMART</key>
		<true/>
		<key>monitorDiskTools</key>
		<true/>
		<key>monitorDiskUsage</key>
		<true/>
		<key>monitorGraphBattery</key>
		<true/>
		<key>monitorGraphCPU</key>
		<true/>
		<key>monitorGraphDisk</key>
		<true/>
		<key>monitorGraphGPU</key>
		<true/>
		<key>monitorGraphMemory</key>
		<true/>
		<key>monitorGraphNetwork</key>
		<true/>
		<key>monitorGraphPower</key>
		<true/>
		<key>monitorIntervalSeconds</key>
		<integer>5</integer>
		<key>monitorMemoryMetric</key>
		<string>used</string>
		<key>monitorNetApps</key>
		<true/>
		<key>monitorNetSpeed</key>
		<true/>
		<key>monitorNetTest</key>
		<true/>
		<key>monitorNetTotals</key>
		<true/>
		<key>monitorPwrAdapter</key>
		<true/>
		<key>monitorPwrBattery</key>
		<true/>
		<key>monitorPwrHealth</key>
		<true/>
		<key>monitorPwrSystem</key>
		<true/>
		<key>monitorPwrTimeRemaining</key>
		<true/>
		<key>monitorShowDisk</key>
		<false/>
		<key>monitorShowMixer</key>
		<true/>
		<key>monitorShowNetwork</key>
		<false/>
		<key>monitorShowPower</key>
		<true/>
		<key>monitorShowSystem</key>
		<true/>
		<key>monitorSysAlerts</key>
		<true/>
		<key>monitorSysBattery</key>
		<true/>
		<key>monitorSysCPU</key>
		<true/>
		<key>monitorSysGPU</key>
		<true/>
		<key>monitorSysMemory</key>
		<true/>
		<key>monitorSysTemps</key>
		<true/>
		<key>monitorSysUptime</key>
		<true/>
		<key>mouseButtonExceptions</key>
		<array/>
		<key>mouseButtonShortcuts</key>
		<dict/>
		<key>mouseButtonShortcutsEnabled</key>
		<false/>
		<key>mouseNavigationEnabled</key>
		<false/>
		<key>mouseNavigationExceptions</key>
		<array/>
		<key>musicBlockEnabled</key>
		<false/>
		<key>musicBlockReplacementPath</key>
		<string></string>
		<key>onboardingStep</key>
		<integer>0</integer>
		<key>panelCollapsedResetVersion</key>
		<string>2.15.1</string>
		<key>panelControlAutoQuit</key>
		<true/>
		<key>panelControlCutPaste</key>
		<true/>
		<key>panelControlDockClick</key>
		<true/>
		<key>panelControlDockClickCycle</key>
		<true/>
		<key>panelControlDockClickHide</key>
		<true/>
		<key>panelControlDockPreview</key>
		<true/>
		<key>panelControlFilesExpanded</key>
		<true/>
		<key>panelControlInputExpanded</key>
		<true/>
		<key>panelControlKeyDebounce</key>
		<true/>
		<key>panelControlMiddleClick</key>
		<true/>
		<key>panelControlMouseButtonShortcuts</key>
		<true/>
		<key>panelControlMouseNavigation</key>
		<true/>
		<key>panelControlMouseScroll</key>
		<true/>
		<key>panelControlRadialMenu</key>
		<true/>
		<key>panelControlShelf</key>
		<true/>
		<key>panelControlSuperKey</key>
		<true/>
		<key>panelControlSwitcher</key>
		<true/>
		<key>panelControlTextSnippets</key>
		<true/>
		<key>panelControlWindowMaximize</key>
		<true/>
		<key>panelControlWindowsExpanded</key>
		<true/>
		<key>panelNavigationEnabled</key>
		<true/>
		<key>panelShowBrightness</key>
		<true/>
		<key>panelShowControls</key>
		<true/>
		<key>panelShowFanControl</key>
		<true/>
		<key>panelShowKeepAwake</key>
		<true/>
		<key>panelShowToggles</key>
		<true/>
		<key>panelShowUtilities</key>
		<true/>
		<key>panelToggleDarkMode</key>
		<true/>
		<key>panelToggleDesktopIcons</key>
		<true/>
		<key>panelToggleDisplayOff</key>
		<true/>
		<key>panelToggleEjectDisks</key>
		<true/>
		<key>panelToggleEmptyTrash</key>
		<true/>
		<key>panelToggleHiddenFiles</key>
		<true/>
		<key>panelToggleKeyboardLight</key>
		<true/>
		<key>panelToggleLockScreen</key>
		<true/>
		<key>panelToggleScreenSaver</key>
		<true/>
		<key>panelUtilityAppUpdates</key>
		<true/>
		<key>panelUtilityCameraPreview</key>
		<true/>
		<key>panelUtilityCleaner</key>
		<true/>
		<key>panelUtilityCleaning</key>
		<true/>
		<key>panelUtilityClipboard</key>
		<true/>
		<key>panelUtilityColorPicker</key>
		<true/>
		<key>panelUtilityCommandBar</key>
		<true/>
		<key>panelUtilityHomebrew</key>
		<true/>
		<key>panelUtilityMedia</key>
		<true/>
		<key>panelUtilityMicMute</key>
		<true/>
		<key>panelUtilityQuickLauncher</key>
		<true/>
		<key>panelUtilityScratchpad</key>
		<true/>
		<key>panelUtilityScreenOCR</key>
		<true/>
		<key>panelUtilityScreenRecorder</key>
		<true/>
		<key>panelUtilityScreenshot</key>
		<true/>
		<key>panelUtilityURLCleaner</key>
		<true/>
		<key>panelUtilityUninstaller</key>
		<true/>
		<key>panelUtilityWindowLayout</key>
		<true/>
		<key>pastePlainEnabled</key>
		<false/>
		<key>pastePlainShortcut</key>
		<string>option+shift+command:9</string>
		<key>previewSize</key>
		<string>normal</string>
		<key>quickLauncherHiddenItems</key>
		<string></string>
		<key>quickLauncherShortcut</key>
		<string>control+command:9</string>
		<key>quickLauncherShortcutEnabled</key>
		<true/>
		<key>radialMenuActivationMode</key>
		<string>pressOrHold</string>
		<key>radialMenuAtPointer</key>
		<true/>
		<key>radialMenuEnabled</key>
		<false/>
		<key>radialMenuMouseButton</key>
		<string>off</string>
		<key>radialMenuShortcut</key>
		<string>control+option+command:49</string>
		<key>recorderCountdown</key>
		<integer>3</integer>
		<key>recorderEditorPresets</key>
		<data>
		</data>
		<key>recorderFrameRate</key>
		<integer>60</integer>
		<key>recorderGIFFrameRate</key>
		<integer>12</integer>
		<key>recorderGIFSize</key>
		<string>medium</string>
		<key>recorderMicrophone</key>
		<false/>
		<key>recorderOpenEditor</key>
		<true/>
		<key>recorderQuality</key>
		<string>balanced</string>
		<key>recorderSaveFolder</key>
		<string></string>
		<key>recorderSharingEnabled</key>
		<true/>
		<key>recorderShortcut</key>
		<string>control+option+command:23</string>
		<key>recorderShortcutEnabled</key>
		<false/>
		<key>recorderSystemAudio</key>
		<true/>
		<key>releaseNotesOnUpdate</key>
		<true/>
		<key>scratchpadBackgroundOpacity</key>
		<real>0.0</real>
		<key>scratchpadCloseOnClickOutside</key>
		<true/>
		<key>scratchpadDocument</key>
		<data>
		eyJzZWxlY3RlZElEIjoiRjM4RURCMDktOTNGRi00ODQzLThCM0QtN0ZBM0Ez
		RjMzMDEwIiwicGFkcyI6W3siaWQiOiJGMzhFREIwOS05M0ZGLTQ4NDMtOEIz
		RC03RkEzQTNGMzMwMTAiLCJ0ZXh0IjoiIiwibmFtZSI6IkJyb3VpbGxvbiJ9
		XX0=
		</data>
		<key>scratchpadRetention</key>
		<string>never</string>
		<key>scratchpadShortcut</key>
		<string>control+option+command:45</string>
		<key>scratchpadShortcutEnabled</key>
		<false/>
		<key>screenOCRDetectQRCodes</key>
		<true/>
		<key>screenOCRShortcut</key>
		<string>option+shift:17</string>
		<key>screenOCRShortcutEnabled</key>
		<true/>
		<key>screenshotAnnotationShadows</key>
		<false/>
		<key>screenshotBackdropPresets</key>
		<string>[]</string>
		<key>screenshotBackdropStyle</key>
		<string></string>
		<key>screenshotClipboardShortcut</key>
		<string>control+option+command:35</string>
		<key>screenshotClipboardShortcutEnabled</key>
		<false/>
		<key>screenshotCopyToClipboard</key>
		<false/>
		<key>screenshotDefaultAction</key>
		<string></string>
		<key>screenshotDelay</key>
		<integer>0</integer>
		<key>screenshotDownscale</key>
		<false/>
		<key>screenshotFileNamePattern</key>
		<string></string>
		<key>screenshotFileNumberNext</key>
		<integer>1</integer>
		<key>screenshotFileNumberStart</key>
		<integer>1</integer>
		<key>screenshotFreeze</key>
		<true/>
		<key>screenshotFullScreenShortcut</key>
		<string>control+option+command:20</string>
		<key>screenshotFullScreenShortcutEnabled</key>
		<false/>
		<key>screenshotHideVorssaintWindows</key>
		<true/>
		<key>screenshotIncludePointer</key>
		<false/>
		<key>screenshotLastCaptureShortcut</key>
		<string>control+option+command:14</string>
		<key>screenshotLastCaptureShortcutEnabled</key>
		<false/>
		<key>screenshotLastColor</key>
		<string>red</string>
		<key>screenshotLastSticker</key>
		<string>check</string>
		<key>screenshotLastStroke</key>
		<string>medium</string>
		<key>screenshotLastTool</key>
		<string>arrow</string>
		<key>screenshotOpenEditorDirectly</key>
		<false/>
		<key>screenshotPreviewPosition</key>
		<string></string>
		<key>screenshotSaveFolder</key>
		<string></string>
		<key>screenshotSaveSubfolder</key>
		<string></string>
		<key>screenshotSharingEnabled</key>
		<true/>
		<key>screenshotShortcut</key>
		<string>control+option+command:21</string>
		<key>screenshotShortcutEnabled</key>
		<false/>
		<key>screenshotShowLastRegion</key>
		<true/>
		<key>screenshotToolOrder</key>
		<string>select,arrow,pixelate,crop,text,sticker,rect,highlight,freehand,line,ellipse,counter,redact</string>
		<key>screenshotToolShortcutsEnabled</key>
		<true/>
		<key>scrollInverterEnabled</key>
		<true/>
		<key>scrollInverterExceptions</key>
		<array/>
		<key>scrollInverterHorizontalEnabled</key>
		<true/>
		<key>shelfAutomaticExclusions</key>
		<array/>
		<key>shelfCloseAfterDrop</key>
		<false/>
		<key>shelfDropZoneEnabled</key>
		<true/>
		<key>shelfRemoveAfterDrop</key>
		<true/>
		<key>shelfShakeToOpen</key>
		<true/>
		<key>shelfShortcut</key>
		<string>control+option+command:2</string>
		<key>shelfShortcutEnabled</key>
		<true/>
		<key>showCountdownInMenuBar</key>
		<false/>
		<key>smoothScrollEnabled</key>
		<false/>
		<key>smoothScrollExceptions</key>
		<array/>
		<key>smoothScrollStep</key>
		<integer>40</integer>
		<key>snippetLibraryEnabled</key>
		<false/>
		<key>snippetLibraryShortcut</key>
		<string>control+option+command:37</string>
		<key>soundOutputSwitcherEnabled</key>
		<false/>
		<key>soundOutputSwitcherShortcut</key>
		<string>control+option+command:1</string>
		<key>superKeyEnabled</key>
		<false/>
		<key>superKeySoloAction</key>
		<string>none</string>
		<key>supportUpdateIntroVersion</key>
		<string>3.3.0</string>
		<key>switcherAppRules</key>
		<dict/>
		<key>switcherCurrentSpaceOnly</key>
		<false/>
		<key>switcherEnabled</key>
		<true/>
		<key>switcherIconRowMode</key>
		<false/>
		<key>switcherMergeTabs</key>
		<false/>
		<key>switcherSearchPinEnabled</key>
		<false/>
		<key>switcherShortcut</key>
		<string>command:48</string>
		<key>switcherShowShortcutHints</key>
		<true/>
		<key>switcherShowWindowlessFinder</key>
		<true/>
		<key>switcherSimpleMode</key>
		<false/>
		<key>switcherWindowShortcut</key>
		<string>command:50</string>
		<key>switcherWindowlessApps</key>
		<string>off</string>
		<key>temperatureUnit</key>
		<string>celsius</string>
		<key>textSnippetsEnabled</key>
		<false/>
		<key>updateHighlightsSeenVersion</key>
		<string>3.3.1</string>
		<key>urlCleanerCustomParameters</key>
		<string></string>
		<key>urlCleanerEnabled</key>
		<false/>
		<key>whatsAppDownloadsAutomaticEnabled</key>
		<false/>
		<key>whatsAppDownloadsCategories</key>
		<string>image,video,audio</string>
		<key>whatsAppDownloadsIncludeExisting</key>
		<false/>
		<key>whatsAppDownloadsNotify</key>
		<true/>
		<key>whatsAppDownloadsRetentionDays</key>
		<integer>7</integer>
		<key>whatsAppOrganizerCategories</key>
		<string>image,video,audio,document,archive,other</string>
		<key>whatsAppOrganizerDelayMinutes</key>
		<integer>5</integer>
		<key>whatsAppOrganizerDuplicateAction</key>
		<string>trashNew</string>
		<key>whatsAppOrganizerEnabled</key>
		<false/>
		<key>whatsAppOrganizerLayout</key>
		<string>flat</string>
		<key>windowEdgeSnapEnabled</key>
		<false/>
		<key>windowGestureEnabled</key>
		<false/>
		<key>windowGestureModifiers</key>
		<string>control+command</string>
		<key>windowGestureRaiseWindow</key>
		<false/>
		<key>windowLayoutHiddenActions</key>
		<string></string>
		<key>windowLayoutShortcutBottom</key>
		<string>control+option:125</string>
		<key>windowLayoutShortcutBottomCenterSixth</key>
		<string>none</string>
		<key>windowLayoutShortcutBottomLeft</key>
		<string>control+option:38</string>
		<key>windowLayoutShortcutBottomLeftSixth</key>
		<string>none</string>
		<key>windowLayoutShortcutBottomRight</key>
		<string>control+option:40</string>
		<key>windowLayoutShortcutBottomRightSixth</key>
		<string>none</string>
		<key>windowLayoutShortcutCenter</key>
		<string>control+option:8</string>
		<key>windowLayoutShortcutCenterThird</key>
		<string>control+option:3</string>
		<key>windowLayoutShortcutFullScreen</key>
		<string>none</string>
		<key>windowLayoutShortcutLeft</key>
		<string>control+option:123</string>
		<key>windowLayoutShortcutLeftThird</key>
		<string>control+option:2</string>
		<key>windowLayoutShortcutLeftTwoThirds</key>
		<string>control+option:14</string>
		<key>windowLayoutShortcutMarginMaximize</key>
		<string>none</string>
		<key>windowLayoutShortcutMaximize</key>
		<string>control+option:36</string>
		<key>windowLayoutShortcutNextDisplay</key>
		<string>control+option+command:124</string>
		<key>windowLayoutShortcutPreviousDisplay</key>
		<string>none</string>
		<key>windowLayoutShortcutRestore</key>
		<string>control+option:15</string>
		<key>windowLayoutShortcutRight</key>
		<string>control+option:124</string>
		<key>windowLayoutShortcutRightThird</key>
		<string>control+option:5</string>
		<key>windowLayoutShortcutRightTwoThirds</key>
		<string>control+option:17</string>
		<key>windowLayoutShortcutTop</key>
		<string>control+option:126</string>
		<key>windowLayoutShortcutTopCenterSixth</key>
		<string>none</string>
		<key>windowLayoutShortcutTopLeft</key>
		<string>control+option:32</string>
		<key>windowLayoutShortcutTopLeftSixth</key>
		<string>none</string>
		<key>windowLayoutShortcutTopRight</key>
		<string>control+option:34</string>
		<key>windowLayoutShortcutTopRightSixth</key>
		<string>none</string>
		<key>windowLayoutShortcutsEnabled</key>
		<false/>
		<key>windowMaximizeEnabled</key>
		<true/>
		<key>windowPreviewExcludedApps</key>
		<array/>
	</dict>
	<key>vorssaintBackupAppVersion</key>
	<string>3.3.1</string>
	<key>vorssaintBackupVersion</key>
	<integer>1</integer>
</dict>
</plist>
